<h1>My Books</h1>

<%= link_to "Add New", new_books_path %>
<table>
  <thead>
  <th>Sl.no</th>
  <th>Name</th>
  <th>Author</th>
  <th>Description</th>
  </thead>

  <tbody>
  <% row = 0%>
  <% @books.each do |book| %>
      <tr>
        <td>
          <%= row += 1%>
        </td>
        <td>
          <%= book.name%>
        </td>
        <td>
          <%= book.author%>
        </td>
        <td>
          <%= book.description%>
        </td>
      </tr>
  <%end%>
  </tbody>
</table>
